.container {
  padding: 25px;
  width: 80%;
  margin: auto;
  position: relative;
}
.heading {
  font-size: 24px;
  font-weight: 600;
}
.blogContainer {
  padding: 25px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 125px;
}

.blogContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
