.container {
  display: flex;
  justify-content: space-evenly;
  hsla: (0, 0%, 25.88%, 1);
}

.container p {
  font-size: 17px;
  margin-bottom: 17px;
  padding-top: 25px;
}

.accordion button {
  padding-top: 0 !important;
}

.videoPlayer > div {
  width: 400px !important;
  height: 500px !important;
}

.videoPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 48px;
}
.sections {
  width: 35%;
}
.container video {
  border-radius: 35px;
}

@media (max-width: 768px) {
  .heading {
    font-size: 42px;
  }
  .sections {
    width: 80%;
    margin: 25px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    hsla: (0, 0%, 25.88%, 1);
  }
  .videoPlayer > div:first-child {
    border-radius: 35px;
    margin: auto;
    width: 100% !important;
    height: 100% !important;
  }

  .container video {
    border-radius: 35px;
    margin: auto;
    width: 100% !important;
    height: 100% !important;
  }

  .container p {
    font-size: 16px;
    margin-bottom: 7px;
    padding-top: 7px;
  }

  .bannerContent {
    width: 65%;
    padding: 25px 5px;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .accordian {
    margin-top: 25px;
  }

  .accordian button {
    text-align: left;
  }
  .heading {
    font-size: 36px;
  }
  .sections {
    width: 90%;
    margin: 15px;
  }

  .videoPlayer > div:first-child {
    border-radius: 35px;
    margin: auto;
    width: 350px !important;
    height: 400px !important;
  }

  .container video {
    border-radius: 35px;
    margin: auto;
    width: 100% !important;
    height: 100% !important;
  }

  .container p {
    font-size: 16px;
    margin-bottom: 7px;
    padding-top: 7px;
  }

  .bannerContent {
    width: 90%;
    padding: 20px 5px;
    margin: 0;
  }
}
