.container {
  width: 80%;
  margin: auto;
  margin-bottom: 75px;
}

.heading {
  font-size: 24px;
  padding: 25px 0;
  font-weight: 500;
  color: #525252;
}
@media (max-width: 1024px) {
  .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 75px;
  }
}

@media (max-width: 1576px) {
  .container {
  }
}
