.faqs {
  color: #525252;

  padding: 65px;
  text-align: center;
}
.faqs .heading {
  font-size: 48px;
  font-weight: 700;
}
.description {
  width: 38%;
  margin: auto;
  text-align: left;
}

.description p:last-of-type {
  margin-top: 15px;
}
.description p:first-of-type {
  margin-bottom: 15px;
}
.description p {
  font-size: 17px;
  margin: 17px 0px;
}
