.container {
  background-color: #e5e4e2;
  border-radius: 75px 0 0px 0;
  padding: 0 0 15px;
  padding-top: 50px;
}

.footer {
  margin: auto;
  padding: 50px;
  width: 80%;
  display: grid;
  color: #525252;
  padding-bottom: 30px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socialIcons {
  display: flex;
  margin-top: 10px;
}

.footer h1 {
  margin: 7.5px 0;
}

.footer a {
  text-decoration: underline;
  display: block;
  margin: 10px 0;
  transition: all 0.2s ease-in;
}

.footer a:hover {
  color: #34b6f8;
}
.copyright {
  text-align: center;
  color: #70707080;
}
.socialIcons a {
  margin-top: 35px;
  padding: 0 15px;
  display: block;
}

@media (max-width: 768px) {
  .footer {
    margin: auto;
    padding: 20px;
    width: 80%;
    display: grid;
    color: #525252;
    padding-bottom: 25px;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }

  .socialIcons a {
    padding: 0 10px;
    display: block;
  }
  .socialIcons a svg {
    width: 2rem !important;
  }
}

@media (max-width: 576px) {
  .footer {
    margin: auto;
    padding: 20px;
    width: 90%;
    display: grid;
    color: #525252;
    padding-bottom: 25px;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 35px;
  }

  .footer > div {
    display: flex;
    flex-direction: column;
  }

  .socialIcons a {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 0;
  }
  .socialIcons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -20px;
  }
}
