.logo {
  width: auto;
  max-width: 100%;

  max-height: 75px;
  margin-left: 20px;
}

.foot_logo {
  margin-left: -20px;
}
@media (max-width: 769px) {
  .logo {
    width: auto;
    max-width: 100%;
    max-height: 40px;
  }
}
