.nav {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  z-index: 10;
}

.navList {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navList li {
  position: relative;
}

.navList a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: #34b6f8;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdownTitle {
  cursor: pointer;
  display: inline-block;
  color: black;
  font-weight: bold;
  position: relative;
}

.dropdownTitle:hover {
  color: #34b6f8;
}

.dropdownArrow {
  margin-left: 5px;
  font-size: 15px;
}

.dropdownContent {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* BoostBundle content styling */
.dropdownContent > div {
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

/* Dropdown Hover */
.dropdown:hover .dropdownContent {
  display: block;
}

/* Smooth Appearance */
.dropdownContent {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown:hover .dropdownContent {
  opacity: 1;
  visibility: visible;
}
