.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  margin: 0;
  padding: 0;
}

.nav li {
  list-style-type: none;
  margin: 0 10px;
}

.nav a {
  text-decoration: none;
  color: black;
}
