.partnerList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 50px;
  grid-template-rows: 50px;
  width: 75%;
  margin: auto;
}

.partnerList li img {
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .partnerList {
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    grid-template-rows: repeat(2, 50px);
  }

  .partnerList li {
    height: 50px;
  }
}
