.priceItem {
  border-radius: 15px;
  border: 1px solid rgb(207, 207, 186);
  padding-bottom: 25px;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.silver {
  background-color: #c4c4c4;
}
.gold {
  background-color: #efbf04;
}

.platinum {
  background-color: #d9d9d9;
}
.diamond {
  background-color: #e1f5fe;
}
.price {
  font-size: 24px;
  font-weight: 600;
}

.price span {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 5px;
}

.priceItem .heading {
  font-size: 37px;
}
.priceHeader {
  padding: 25px 25px 15px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.priceFooter {
  padding: 25px 25px 15px 15px;
}
.priceItem .priceFeature {
  display: flex;
  padding: 5px 0;
  color: #100f13;
}

.priceItem .priceFeature span {
  color: rgba(0, 0, 0, 0.8);
}
.priceItem .priceFeature img {
  width: 20px;
  margin: 3.25px 5px 0 0;
  height: 20px;
}
