.container {
  width: 60%;
  margin: auto;
  text-align: center;
}
.vid_heading {
  font-size: 28px;
  font-weight: 600;
  margin: 16px 0;
  color: #525252;
  text-transform: uppercase;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.cardsContainer .card:nth-child(even) .cardDescription {
  order: 1;
}
.cardsContainer .card:nth-child(even) .cardBanner {
  order: 2;
}

.cardsContainer .card:nth-child(odd) .cardDescription {
  order: 2;
}
.cardsContainer .card:nth-child(odd) .cardBanner {
  order: 1;
}
.cardDescription {
  width: 500px;
}
.cardBanner {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  width: 350px;
  height: 500px;
}

.cardBanner img {
  object-fit: contain;
}
.cardBanner:hover {
  scale: 1.05;
  cursor: pointer;
}
.mainHeading {
  font-size: 48px;
  font-weight: 600;
  margin: 16px 0;
  color: #525252;
  text-transform: uppercase;
}
.mainDescriptiom {
  font-size: 19px;
  color: #525252;
  font-weight: 700;
  margin: 24px 0;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 35px;
  padding: 25px 0 75px 0;
}
.secondaryHeading {
  font-size: 28px;
  color: #525252;
  text-transform: uppercase;
  font-weight: 500;
  margin: 16px 0;
}

.secondaryDescription {
  font-size: 22px;
  font-weight: 500;
  color: #525252;
}

@media (max-width: 768px) {
  .mainHeading {
    font-size: 42px;
  }
  .mainDescriptiom {
    font-size: 17px;
  }
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 25px 0 50px 0;
  }

  .secondaryHeading {
    font-size: 24px;
  }

  .secondaryDescription {
    font-size: 16px;
    font-weight: 500;
    color: #525252;
  }
}

@media (max-width: 576px) {
  .mainHeading {
    font-size: 30px;
  }

  .mainDescriptiom {
    font-size: 16px;
    margin: 17px 0;
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
    padding: 25px 0 50px 0;
  }

  .secondaryHeading {
    margin-bottom: 10px;
  }
}
