.container {
  width: 80%;
  margin: auto;
  padding-bottom: 75px;
}

.container .heading {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.bulletsContainer {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  gap: 25px;
  align-items: center;
  padding: 25px;
}
.mainPoints {
  padding: 50px;
}
.mainPoints .heading {
  font-size: 26px;
  margin: 15px 0;
  font-weight: 600;
}

.mainPoints .description {
  font-size: 17px;
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
    margin: auto;
    padding-bottom: 25px;
  }

  .bulletsContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    gap: 25px;
    align-items: center;
    padding: 25px;
  }

  .mainPoints {
    padding: 0px;
  }
}

@media (max-width: 576px) {
  .bulletsContainer {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 25px;
    padding: 35px 25px;
  }
  .bulletsContainer .banner {
    order: 1;
  }

  .bulletsContainer .mainPoints {
    order: 2;
  }

  .mainPoints .heading {
    font-size: 22px;
    margin: 15px 0;
    font-weight: 600;
  }

  .mainPoints .description {
    font-size: 16px;
  }
}
